{% load static %}
<!-- TODO: Add confirmation message that the patient has been successfully added -->
<html>
    <head>
        <title>Add Device</title>
        <link rel="stylesheet" type="text/css" href='{% static "style.css" %}' />
    </head>
    <body>
      <div class="container" id="inputs">
        <form method="post">
          {% csrf_token %}
          <br>
          <!-- Patient's first name field -->
          <input class="login" type="text" id="{{ form.first_name.id_for_label }}" name="{{ form.first_name.html_name }}"
                 placeholder="First Name" required>
          <br>
          <br>
          <!-- Patient's last name field -->
          <input class="login" type="text" id="{{ form.last_name.id_for_label }}" name="{{ form.last_name.html_name }}"
                 placeholder="Last Name" required>
          <br>
          <br>
  				<!-- Patient's age field -->
  				<input class="login" type="number" id="{{ form.age.id_for_label }}" name="{{ form.age.html_name }}"
  					   placeholder="Age">
  				<br>
  				<br>

          <!-- Submit button -->
          <button class="login" type="submit">Add Patient</button>
        </form>
      </div>
      <footer>&copy; CareChanger</footer>
    </body>
</html>
