{% load static %}
<!-- TODO: Add confirmation message that the patient has been successfully added -->
<html>
    <head>
        <title>Add Device</title>
        <link rel="stylesheet" type="text/css" href='{% static "style.css" %}' />
        <link rel="icon" type="image/png" href="{% static 'favicon.png' %}"/>
    </head>
    <body>
      <div class="container" id="inputs">
        <form method="post">
          {% csrf_token %}
          <br>
          <!-- Patient's first name field -->
          <input class="login" type="number" id="{{ form.caregroup.id_for_label }}" name="{{ form.caregroup.html_name }}"
                 placeholder="Care Group" required>
            <br>
            <br>
          <!-- Submit button -->
          <button class="login" type="submit">Add Patient</button>
        </form>
      </div>
      <footer>&copy; CareChanger</footer>
    </body>
</html>
