{% load static %}
<!-- TODO: Add confirmation message that the patient has been successfully added -->
<html>
    <head>
        <title>Add Device</title>
        <link rel="stylesheet" type="text/css" href='{% static "style.css" %}' />
        <link rel="icon" type="image/png" href="{% static 'favicon.png' %}"/>
    </head>
    <body>
      <div class="container" id="inputs">
        <form method="post">
          {% csrf_token %}
          <br>
          <!-- Submit button -->
          {% for c in caregroups %}
          <!--<input class="radio" type="text" id="{{ form.first_name.id_for_label }}" name="{{ form.first_name.html_name }}" value= {{c.name}} >
          <br>
          <br>-->
          <button class="login" type="submit">Add Device</button>
        </form>
      </div>
      <footer>&copy; CareChanger</footer>
    </body>
</html>
