{% load static %}
<!-- TODO: Add confirmation message that the patient has been successfully added -->
<html>
    <head>
        <title>Add Patient</title>
        <link rel="stylesheet" type="text/css" href='{% static "style.css" %}' />
    </head>
    <body>
        <div class="container" id="inputs">
            <form method="post">
                {% csrf_token %}
                <br>
                <!-- CareChanger logo -->
                <img id="logo" src="{% static "carechanger_logo_white.png" %}" alt="CareChanger Logo"/>
                <br>
                <!-- Patient's first name field -->
                <input class="basic" type="text" id="{{ form.firstname.id_for_label }}" name="{{ form.firstname.html_name }}"
                       placeholder="First Name" required>
                <br>
                <br>
                <!-- Patient's last name field -->
                <input class="basic" type="text" id="{{ form.lastname.id_for_label }}" name="{{ form.lastname.html_name }}"
                       placeholder="Last Name" required>
                <br>
                <br>
				<!-- Patient's age field -->
				<input class="basic" type="number" id="{{ form.age.id_for_label }}" name="{{ form.age.html_name }}"
					   placeholder="Age">
				<br>
				<br>
                <!-- Submit button -->
                <button class="basic" type="submit">Add Patient</button>
            </form>
        </div>
    </body>
    <footer>
        <div id="footer">
			Copyright &copy; 2019 CareChanger
		</div>
    </footer>
</html>
