{% load static %}

<html>
    <head>
        <title>Create User</title>
        <link rel="stylesheet" type="text/css" href='{% static "style.css" %}' />
    </head>
    <body>
      <div id="page_container">
        <div class="container" id="inputs">
            <form method="post">
                {% csrf_token %}
                <br>
                <!-- Username field -->
                <input class="login" type="text" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}"
                       placeholder="Username" required>
                <br>
                <br>
                <!-- Email address field -->
                <input class="login" type="text" id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}"
                       placeholder="Email Address" required>
                <br>
                <br>
                <!-- First name field (optional) -->
                <input class="login" type="text" id="{{ form.first_name.id_for_label }}" name="{{ form.first_name.html_name }}"
                       placeholder="First Name (Optional)">
                <br>
                <br>
                <!-- Last name field (optional) -->
                <input class="login" type="text" id="{{ form.last_name.id_for_label }}" name="{{ form.last_name.html_name }}"
                       placeholder="Last Name (Optional)">
                <br>
                <br>
                <!-- Password field -->
                <input class="login" type="password" id="{{ form.password1.id_for_label }}" name="{{ form.password1.html_name }}"
                       placeholder="Password" required>
                <br>
                <br>
                <!-- Password confirmation field -->
                <input class="login" type="password" id="{{ form.password2.id_for_label }}" name="{{ form.password2.html_name }}"
                       placeholder="Confirm Password" required>
                <br>
                <br>
                <!-- Create User button -->
                <button class="login" type="submit">Create User</button>
            </form>
        </div>
        <footer>&copy; CareChanger</footer>
      </div>
    </body>
</html>
