{% load static %}
<!-- Form for adding data to the database -->
<html>
{% if user.is_superuser %}
    <head>
        <title>Data</title>
        <link rel="stylesheet" type="text/css" href='{% static "style.css" %}' />
    </head>
    <body>
        <div class="container" id="inputs">
            <form method="post">
                {% csrf_token %}
                <br>
                <!-- Patient's name field -->
                <input class="basic" type="number" id="{{ form.event.id_for_label }}" name="{{ form.event.html_name }}"
                       placeholder="Event Occurred?" required>
                <br>
                <br>
                <!-- Temperature -->
                <input class="basic" type="number" step="any" id="{{ form.temperature.id_for_label }}"
                       name="{{ form.temperature.html_name }}" placeholder="Temperature" required>
                <br>
                <br>
				<!-- Humidity -->
				<input class="basic" type="number" step="any" id="{{ form.humidity.id_for_label }}"
                       name="{{ form.humidity.html_name }}" placeholder="Humidity">
				<br>
				<br>
                <!-- Sensor ID -->
                <input class="basic" type="number" step="any" id="{{ form.sensor_id.id_for_label }}"
                       name="{{ form.sensor_id.html_name }}" placeholder="Sensor ID">
				<br>
				<br>
                <!-- Timestamp -->
                <input class="basic" type="number" step="any" id="{{ form.time.id_for_label }}"
                       name="{{ form.time.html_name }}" placeholder="Timestamp">
				<br>
				<br>
                <!-- Submit button -->
                <button class="basic" type="submit">Submit Data</button>
            </form>
        </div>
    </body>
    <footer>
        <div id="footer">
			Copyright &copy; 2019 CareChanger
		</div>
    </footer>
{% else %}

    <!-- TODO: Throw a 403 here somehow (may need quite a bit of reworking -->

{% endif %}
</html>
