{% load static %}

<html>
	<head>
		<title>Login</title>
		<link rel="stylesheet" type="text/css" href="{% static "style.css" %}" />
	</head>
	<!-- TODO: Login action form -->
	<body>
		<form action="login.todo">
			<div class="container" id="inputs">
				<img id="logo" src="{% static "CareChangerLogo.png" %}" alt="CareChanger Logo"/>
				<br>
				<br>
				<!-- Username -->
				<input type="text" placeholder="Username" name="user" required>
				<br>
				<br>
				<!-- Password -->
				<input type="text" placeholder="Password" name="pwd" required>
				<br>
				<br>
				<!-- Login button -->
				<button id="login" type="submit">Login</button>
			</div>

		</form>
	</body>
	<footer>
		<div id="footer">
			Copyright &copy; 2019 CareChanger
		</div>
	</footer>
</html>
