{% load static %}

<html>
	<head>
		<title>Login</title>
		<link rel="stylesheet" type="text/css" href="{% static "style.css" %}" />
	</head>
	<!-- TODO: Login action form -->
	<body>
		<div id="header">
			<img src="{% static "CareChangerLogo.png" %}" width="200" height="65" alt="CareChanger Logo"/>
		</div>
		<form action="login.todo">
			<div class="container" id="inputs">

				<!-- Username -->
				<label for="user">Username</label>
				<input type="text" placeholder="Username" name="user" required>

				<!-- Password -->
				<label for="pwd">Password</label>
				<input type="text" placeholder="Password" name="pwd" required>

				<!-- Login button -->
				<button type="submit">Login</button>
			</div>

		</form>
	</body>
	<footer>
		<div id="footer">
			Copyright &copy; 2019 CareChanger
		</div>
	</footer>
</html>
