{% load static %}

<html>
	<head>
		<title>Login</title>
		<link rel="stylesheet" type="text/css" href="{% static "style.css" %}" />
	</head>
	<!-- Redirect to dashboard if user is logged in -->
	{% if user.is_authenticated %}
		<meta http-equiv="refresh" content="0; url=/dashboard/" />
	<!-- Load login page if user is not logged in -->
	{% else %}
	<body>
		<form method="post">
			<div class="container" id="inputs">
				<img id="logo" src="{% static "carechangerlogo.png" %}" alt="CareChanger Logo"/>
				<br>
				<br>
				{% csrf_token %}
				{{ form.as_p }}
				<!--
				<input type="text" placeholder="Username" name="user" required>
				<br>
				<br>
				<input type="text" placeholder="Password" name="pwd" required>
				<br>
				<br>
				-->
				<!-- Login button -->
				<button id="login" type="submit">Login</button>
			</div>
		</form>
	</body>
	<footer>
		<div id="footer">
			Copyright &copy; 2019 CareChanger
		</div>
	</footer>
	{% endif %}
</html>
