#header {
	background-color: #0CDCE5;
	text-align: left;
	padding: 10px;
}

#inputs {
	text-align: center;
	padding-top: 20px;
}

#footer {
	clear: both;
	padding: 10px;
	background-color: #0CDCE5;
	color: white;
	text-align: right;
}