
html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	background-color:#eeeeee;
	background-image: linear-gradient(120deg, #66a6ff 0%, #89f7fe 100%);
	/* https://webgradients.com/ */
}

a {
	text-decoration: none;
	color: blue;
}

h2,h3,h4 {
	margin: 0;
}

.patient {
	border-style: solid;
	border-width: 2px;
	border-color: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	background-color: #fff;
	margin-left:10px;
	margin-right:10px;
	margin-top:30px;
	padding:10px;
	box-shadow: 0px 0px 10px #dddddd;
	border-spacing: 0px;
	cursor:pointer;
	/*display: inline-block;*/ /*makes divs smaller, rather than a list that takes up full width */
}

.patient_last_event {
	float:right;
}

.patient_graph {
	margin:auto;
}

.th {
	color: rgba(0, 0, 0, 0.5);
	padding:10px;
	text-align: left;
	display:inline-block;
	margin:0px;
}

.status_clean {
	background-color: #66dd44;
	border-radius:50px;
	text-align: center;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
}

.status_dirty {
	background-color: #dd6644;
	border-radius:50px;
	text-align: center;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
}

tr {
	cursor:pointer;
}

tr:hover {
	background-color: #eeeeee;
}

.login {
	padding:10px;
	border-style: solid;
	border-width: 2px;
	border-color: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	background-color: inherit;
	text-align: center;
	width:50%;
	color: white;
	font-size:10pt;
}

.login:hover {
	background-color: #FFFFFF;
	color:#323232;
	transition:.5s;
}

.login:hover::placeholder {
	color:#323232;
	transition:.5s;
}

.login::placeholder {
	color:#ffffff;
}

.login:focus {
	outline:none;
}

form {
	text-align: center;
	width:300px;
	height:300px;
	margin-top:14%;
	margin-left:auto;
	margin-right:auto;
	border-radius: 25px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
	background-color: rgba(255, 255, 255, 0.0);
	padding:10px;
}

li {
	float:left;
	border-right-style:solid;
	border-right-width:1px;
	border-right-color: rgba(255, 255, 255, 0.2);
	text-transform: uppercase;
	height:100px;
	line-height: 100px;
	transition:0.5s;
}

li a {
	display: inline-block;
	color: white;
	padding-left:20px;
	padding-right:20px;
	text-decoration: none;
	text-align: center;
	vertical-align:middle;
}

li a:hover {
	background-color: rgba(255, 255, 255, 1);
	color:#323232;
	transition: 0.5s;
	border-top-style:solid;
	border-top-width:10px;
	border-top-color: white;
}

#logo {
	width:100;
}
#logo_black {
	display:none;
	width:100;
}

#inputs {
	text-align: center;
	padding-top: 20px;
}

.content {
	color:white;
	margin-left:0%;
	margin-right:0%;
	padding-top:140px;
	padding-right:5%;
	padding-left:5%;
	left:0px;
}

#nav {
	width:100%;
	top:0px;
}

#nav ul {
	list-style-type: none;
	margin:0;
	padding:0;
	overflow:hidden;
	position:fixed;
	left:0;
	top:0;
	width:100%;

	transition:0.5s;
	z-index:1;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
}

#dash_nav {
	position:fixed;
	background-color: white;
	width:100%;
	transition:0.5s;
	top:100px;
	padding:5px;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.1);

}

#dash_content {
	color:white;
	background-color: #eeeeee;
	margin-left:0%;
	margin-right:0%;
	/*padding-top:150px;*/
	margin-top:100px;
	padding-top:70px;
	padding-bottom:10px;
	padding-right:5%;
	padding-left:5%;
	left:0px;
	height:100%;
}

.scrolled {
	background-color: #fff; !important;
  transition: background-color 200ms linear;
	color:#323232;
}
.scrolled ul{
	background-color: #fff; !important;
	/*background-image: linear-gradient(120deg, #fff 0%, #fff 100%);*/
	transition: background-color 200ms linear;
}

.scrolled #dash_nav{
	top:60px;
	transition:0.5s;
}

.scrolled li{
  height:60px;
	line-height: 60px;
	transition:0.5s;
}

.scrolled #logo_black {
	display:block;
	width:60px;
}

.scrolled #logo {
	display:none;
}

#name {
	margin: auto;
	float: center;
	padding: 10px;
}

#alert {
	margin: auto;
	width: 50px;
	float: left;
	padding-left: 15px;
	padding-right: 10px;
	padding-top: 50px;
	padding-bottom: 50px;
}

footer {
	color: #ffffff;
	text-align: center;
	font-size:10pt;
	clear: both;
	position: relative;
	padding:10px;
}

#dash_footer {
	background-color: #eeeeee;
}

.dash_nav_button {
	padding:10px;
	border-style: none;
	background-color: inherit;
	text-align: center;
	color: #323232;
	font-size:10pt;
	margin:0px;
}

.dash_nav_button a {
	color: #323232;
}

.dash_nav_button:hover a{
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #323232;
}

.login_error {
    background-color: white;
    border-radius: 7px;
    width: 150px;
    text-align: center;
    padding: 10px;
    position: absolute;
    text-size: 6;
    left: 680px;
    top: 50px;
}

.dot1 {
  height: 5px;
  width: 5px;
  background-color: white;
  border-radius: 50%;
  left: 650px;
  top: 210px;
  position: absolute;}

.dot2 {
  height: 10px;
  width: 10px;
  background-color: white;
  border-radius: 50%;
  left: 660px;
  top: 195px;
  position: absolute;
}

.dot3 {
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50%;
  left: 670px;
  top: 175px;
  position: absolute;
}
