body {
	background-color: #FFFFFF;
	font-family: Helvetica, Arial, sans-serif;
}

a {
	text-decoration: none;
	color: blue;
}

h2,h3,h4 {
	margin: 0;
}

input {
	padding:10px;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	border-radius: 20px;
	background-color: #0CDCE5;
	text-align: center;
	width:50%;
	color: white;
	font-size:10pt;
}

input::placeholder {
	color:#ffffff;
}

input:hover {
	background-color: #FFFFFF;
	color:#323232;
	transition:.5s;
}

input:focus {
	outline:none;
}

input:hover::placeholder {
	color:#323232;
	transition:.5s;
}

button {
	padding:10px;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	border-radius: 20px;
	background-color: #0CDCE5;
	text-align: center;
	width:50%;
	color: white;
	font-size:10pt;
}

button:hover {
	background-color: #FFFFFF;
	color:#323232;
	transition:.5s;
}

button:focus {
	outline:none;
}

form {
	position: absolute;
	top:0px;left:0px;bottom:0px;right:0px;
	width:300px;
	height:300px;
	margin:auto;
	border-radius: 50px;
	background-color: #0CDCE5;
	box-shadow: -2px 2px 2px 0px grey;
	padding:10px;
}

#container {
	background-color: black;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#logo {
	width:80;
}

#inputs {
	text-align: center;
	padding-top: 20px;
}

#content {
	padding: 10px;
}

#nav {
	width: 150px;
	float: right;
}
#nav ul {
	list-style-type: none;
	padding: 0;
}

#nav .selected {
	font-weight: bold;
}

#patients {
	width: 1030px;
	float: left;
}

#name {
	margin: auto;
	float: center;
	padding: 10px;
}

#alert {
	margin: auto;
	width: 50px;
	float: left;
	padding-left: 15px;
	padding-right: 10px;
	padding-top: 50px;
	padding-bottom: 50px;
}

#temperature {
	margin: auto;
	width: 400px%;
	float: left;
	padding-left: 10px;
	padding-right: 25px;
	padding-bottom: 20px;
}

#humidity {
	margin: auto;
	width: 400px;
	float: left;
	padding-left: 25px;
	padding-bottom: 20px;
}

#footer {
	position:absolute;
	clear: both;
	padding: 10px;
	background-color: white;
	color: #969696;
	text-align: center;
	width: 100%;
	bottom: 0px;
	font-size:10pt;
}
