{% load static %}
<html>
	<head>
		<title>Dashboard</title>
		<link rel="stylesheet" type="text/css" href="{% static "style.css" %}" />
		<script type="text/javascript" src="{% static 'jquery-3.3.1.min.js' %}"> </script>
	</head>
	{% if user.is_authenticated %}
	<body>
		<div id="nav">
			<!-- Navigation menu -->
			<ul>
				<li><a class="nav_link" href="">Caregroup</a></li>
				<li><a class="nav_link" href="">{{ user.get_username }}</a></li>
				<li><a class="nav_link" href="{% url 'logout' %}">Logout</a></li>
			</ul>

			<div id="dash_nav">
				<button class="dash_nav_button"><a href="{% url 'addpatient' %}">Add Patient</a></button>
				<button class="dash_nav_button"><a href="">Add Device</a></button>
				<button class="dash_nav_button"><a href="">Join Caregroup</a></button>
				<button class="dash_nav_button"><a href="{% url 'addcaregroup' %}">New Caregroup</a></button>
			</div>
		</div>

		<div id="dash_content">
				<!-- Patient information -->
				<!--
			<table>
		    <tr>
						<th>Device</th>
		        <th>Name</th>
		        <th>Age</th>
		    </tr>
		    {% for item in patients %}
		    <tr>
						<td>{{item.id}}</td>
		        <td>{{item.first_name}} {{item.last_name}}</td>
		        <td>{{item.age}}</td>
		    </tr>
		    {% endfor %}
			</table>
		-->
			<table>
				<tr>
						<th>Device</th>
						<th>Name</th>
						<th>Age</th>
						<th>Status</th>
				</tr>
				<tr>
						<td>1</td>
						<td>Bob Ross</td>
						<td>42</td>
						<td></td>

				</tr>
				<tr>
						<td>2</td>
						<td>Axel Rose</td>
						<td>68</td>
						<td></td>

				</tr>
				<tr>
						<td>3</td>
						<td>Thom Yorke</td>
						<td>50</td>
						<td></td>
				</tr>
				<tr>
						<td>4</td>
						<td>Jimmy Kimmel</td>
						<td>52</td>
						<td></td>
				</tr>
				<tr>
						<td>5</td>
						<td>Harry Potter</td>
						<td>27</td>
						<td></td>
				</tr>
				<tr>
						<td>6</td>
						<td>Thom Yorke</td>
						<td>50</td>
						<td></td>
				</tr>
				<tr>
						<td>7</td>
						<td>Jimmy Kimmel</td>
						<td>52</td>
						<td></td>
				</tr>
				<tr>
						<td>8</td>
						<td>Harry Potter</td>
						<td>27</td>
						<td></td>
				</tr>
				<tr>
						<td>9</td>
						<td>Thom Yorke</td>
						<td>50</td>
						<td></td>
				</tr>
				<tr>
						<td>10</td>
						<td>Jimmy Kimmel</td>
						<td>52</td>
						<td></td>
				</tr>
				<tr>
						<td>11</td>
						<td>Harry Potter</td>
						<td>27</td>
						<td></td>
				</tr>
				<tr>
						<td>12</td>
						<td>Thom Yorke</td>
						<td>50</td>
						<td></td>
				</tr>
				<tr>
						<td>13</td>
						<td>Jimmy Kimmel</td>
						<td>52</td>
						<td></td>
				</tr>
			</table>
			<footer id="dash_footer">&copy; CareChanger</footer>
		</div>
		<script>
			/*
			$( document ).ready(function() {
				alert( "ready!" );
			});*/
			$(function () {
				$('body').scroll(function () {
					var $nav = $("#nav");
					var $ul = $("ul");
					var $nav_link = $(".nav_link");
					var $dash_nav = document.getElementById('dash_nav');

					console.log($ul.height())

					$nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
					$ul.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
					$nav_link.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
					if($(this).scrollTop() > $nav.height()){
						$dash_nav.style.top = 60;
					} else {
						$dash_nav.style.top = 100;
					}
					//$dash_nav.style.top = $ul.height();

					/* https://jsfiddle.net/we9L9h2r/ */
					//console.log($(this).scrollTop());
					//console.log("NAV HEIGHT:", $nav.height());
				});
			});
		</script>
	</body>
	{% else %}
	<p>You are not logged in.</p>
	<a href="{% url 'login' %}">Login</a>
	{% endif %}
</html>
