{% load static %}
<html>
	<head>
		<title>Dashboard</title>
		<link rel="stylesheet" type="text/css" href="{% static "style.css" %}" />
	</head>
	{% if user.is_authenticated %}
	<body>
		<div id="container">
			<!-- Header containing CareChanger logo -->
			<div id="header">
				<img src="{% static "CareChangerLogo.png" %}" width="200" height="65" alt="CareChanger Logo"/>
			</div>
			<div id="content">
				<!-- Navigation menu -->
				<!-- TODO: Fill in href fields for menu items -->
				<div id="nav">
					<h3>Navigation</h3>
					<ul>
						<li><a class="selected" href="">Dashboard</a></li>
						<li><a href="">Settings</a></li>
						<li><a href="{% url 'logout'%}">Logout</a></li>

					</ul>
				</div>
				<!-- Patient information -->
				<div id="patients">
					<h2> Patient Information </h2>
					<!-- TODO: Make this a list of patients somehow -->
					<div id="name">
						<h4>Patient Name</h4>
					</div>
					<!-- TODO: Make the image displayed conditional -->
						<div id="alert">
							<img src=" {% static "green.jpg" %}" width="50" height="50" alt="Void Event Status"/>
						</div>
					<!-- TODO: Receive input graph -->
						<div id="temperature">
							<input type="image" src="" alt="Temperature Graphs" width="400" height="150">
						</div>
						<!-- TODO: Receive input graph -->
						<div id="humidity">
							<input type="image" src="" alt="Humidity Graphs" width="400" height="150">
						</div>
				</div>
			</div>
			<div id="footer">
				Copyright &copy; 2019 CareChanger
			</div>
		</div>

	</body>
	{% else %}
	<p>You are not logged in.</p>
	<a href="{% url 'login' %}">Login</a>
	{% endif %}
</html>
