{% load static %}
<html>
	<head>
		<title>Dashboard</title>
		<link rel="stylesheet" type="text/css" href="{% static "style.css" %}" />
	</head>
	{% if user.is_authenticated %}
	<body>
		<div id="nav">
			<!-- Navigation menu -->
			<ul>
				<li><a class="selected" href="">Dashboard</a></li>
				<li><a href="">Settings</a></li>
				<li><a href="{% url 'logout'%}">Logout</a></li>
				<li><a href="">{{ user.get_username }}</a></li>

			</ul>
		</div>
		<div id="content">
			<button class="basic"> Add New Device </button>
			<button class="basic"> Add New Patient </button>
				<!-- Patient information -->
			<div id="patients">
				<!-- TODO: Make this a list of patients somehow -->
				<div class="patient">
					<img class="inline" src=" {% static "green_circle.png" %}" width="25" height="25" alt="Void Event Status"/>
					<h2 class="inline">John Smith</h2>
					<h3 class="inline">52</h3>
				</div>
				<div class="patient">
					<img class="inline" src=" {% static "green_circle.png" %}" width="25" height="25" alt="Void Event Status"/>
					<h2 class="inline">Jane Fonda</h2>
					<h3 class="inline">21</h3>
				</div>
				<!-- TODO: Make the image displayed conditional -->
				<div id="alert">
				</div>
			<!-- TODO: Receive input graph -->
				<div id="temperature">
					<input type="image" src="" alt="Temperature Graphs" width="400" height="150">
				</div>
				<!-- TODO: Receive input graph -->
				<div id="humidity">
					<input type="image" src="" alt="Humidity Graphs" width="400" height="150">
				</div>
			</div>
		</div>
		<div id="footer">
			Copyright &copy; 2019 CareChanger
		</div>
	</body>
	{% else %}
	<p>You are not logged in.</p>
	<a href="{% url 'login' %}">Login</a>
	{% endif %}
</html>
