{% load static %}
<html>
	<head>
		<title>Dashboard</title>
		<link rel="stylesheet" type="text/css" href="{% static "style.css" %}" />
		<script type="text/javascript" src="{% static 'jquery-3.3.1.min.js' %}"> </script>
	</head>
	{% if user.is_authenticated %}
	<body>
		<div class="home_nav">
			<!-- Navigation menu -->
			<ul>
				<li><a class="selected" href="">Dashboard</a></li>
				<li><a href="">Admin</a></li>
				<li><a href="">{{ user.get_username }}</a></li>
				<li><a href="{% url 'logout' %}">Logout</a></li>
			</ul>
		</div>
		<div class="content">
			<button class="basic"> Add New Device </button>
			<button class="basic"><a href="{% url 'addpatient' %}"> Add New Patient</a></button>
				<!-- Patient information -->
			<div id="patients">
				<!-- TODO: Make this a list of patients somehow -->
				<div class="patient">
					<img class="inline" src=" {% static "GreenCircle.png" %}" width="25" height="25" alt="Void Event Status"/>
					<h2 class="inline">John Smith</h2>
					<h3 class="inline">52</h3>
				</div>
				<div class="patient">
					<img class="inline" src=" {% static "GreenCircle.png" %}" width="25" height="25" alt="Void Event Status"/>
					<h2 class="inline">Jane Fonda</h2>
					<h3 class="inline">21</h3>
				</div>
				<!-- TODO: Make the image displayed conditional -->
				<div id="alert">
				</div>
			<!-- TODO: Receive input graph -->
				<div id="temperature">
					<input type="image" src="" alt="Temperature Graphs" width="400" height="150">
				</div>
				<!-- TODO: Receive input graph -->
				<div id="humidity">
					<input type="image" src="" alt="Humidity Graphs" width="400" height="150">
				</div>
			</div>
		</div>
		<div id="footer">
			&copy; CareChanger
		</div>
		<script>
			/*
			$( document ).ready(function() {
				alert( "ready!" );
			});*/
			$(function () {
				$('body').scroll(function () {
					var $nav = $(".home_nav");
					var $ul = $("ul");
					var $a = $("a");
					$ul.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
					$a.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
					/* https://jsfiddle.net/we9L9h2r/ */
					console.log($(this).scrollTop());
					console.log("NAV HEIGHT:", $nav.height());
				});
			});
		</script>
	</body>
	{% else %}
	<p>You are not logged in.</p>
	<a href="{% url 'login' %}">Login</a>
	{% endif %}
</html>
