{% load static %}

<html>
	<head>
		<title>Dashboard</title>
		<link rel="stylesheet" type="text/css" href="{% static "style.css" %}" />
		<script type="text/javascript" src="{% static 'jquery-3.3.1.min.js' %}"> </script>
	</head>
	{% if user.is_authenticated %}
	<body>
		<div id="nav">
			<!-- Navigation menu -->
			<ul>
				<li><img id="logo" src="{% static "carechanger_logo_white.png" %}" alt="CareChanger Logo"/><img id="logo_black" src="{% static "carechanger_logo.png" %}" alt="CareChanger Logo"/></li>
				<li><a class="nav_link" href="">Caregroup</a></li>
				<li><a class="nav_link" href="">{{ user.get_username }}</a></li>
				<li><a class="nav_link" href="{% url 'logout' %}">Logout</a></li>
			</ul>

			<div id="dash_nav">
				<button class="dash_nav_button"><a href="{% url 'addpatient' %}">Add Patient</a></button>
				<button class="dash_nav_button"><a href="">Add Device</a></button>
				<button class="dash_nav_button"><a href="">Join Caregroup</a></button>
				<button class="dash_nav_button"><a href="{% url 'addcaregroup' %}">New Caregroup</a></button>
			</div>
		</div>

		<div id="dash_content">
			<!-- Patient information -->

			{% for item in patients %}
				<div class="patient">
						{% if item.status == "c" %}
							<p class="th status_clean">clean</p>
						{% else %}
							<p class="th status_dirty">dirty</p>
						{% endif %}
						<p class="th">{{item.first_name}} {{item.last_name}}</p>
						<p class="th">Device: {{item.id}}</p>
						<p class="th">Age: {{item.age}}</p>
						<p class="th patient_last_event">Last Event: {{item.last_event}}</p>
						<img class= "patient_graph" style="display:none" src="{% static 'graph.png' %}">
				</div>
			{% endfor %}

			<div class="patient">
					<p class="th status_clean">clean</p>
					<p class="th">Bob Ross</p>
					<p class="th">Device: 1</p>
					<p class="th">Age: 42</p>
					<p class="th patient_last_event">Last Event: 3 hours ago</p>
					<img class= "patient_graph" style="display:none" src="{% static 'graph.png' %}">

			</div>
			<div class="patient">
					<p class="th status_clean">clean</p>
					<p class="th">Axel Rose</p>
					<p class="th">Device: 2</p>
					<p class="th">Age: 68</p>
					<p class="th patient_last_event">Last Event: 7 hours ago</p>
			</div>
			<div class="patient">
					<p class="th status_dirty">dirty</p>
					<p class="th">Thom Yorke</p>
					<p class="th">Device: 3</p>
					<p class="th">Age: 50</p>
					<p class="th patient_last_event">Last Event: 5 hours ago</p>

			</div>
			<div class="patient">
					<p class="th status_clean">clean</p>
					<p class="th">Jimmy Kimmel</p>
					<p class="th">Device: 4</p>
					<p class="th">Age: 52</p>
					<p class="th patient_last_event">Last Event: 1 hour ago</p>

			</div>
		</div>
		<footer id="dash_footer">&copy; CareChanger</footer>
		<script>
			/*
			$( document ).ready(function() {
				alert( "ready!" );
			});*/
			$(function () {
				$('body').scroll(function () {
					var $nav = $("#nav");
					var $ul = $("ul");
					var $nav_link = $(".nav_link");
					var $dash_nav = document.getElementById('dash_nav');

					console.log($ul.height())

					$nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
					$ul.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
					$nav_link.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
					if($(this).scrollTop() > $nav.height()){
						$dash_nav.style.top = 60;
					} else {
						$dash_nav.style.top = 100;
					}
					//$dash_nav.style.top = $ul.height();

					/* https://jsfiddle.net/we9L9h2r/ */
					//console.log($(this).scrollTop());
					//console.log("NAV HEIGHT:", $nav.height());
				});
			});

			$(function(){
				var i=0;
				$(".patient").click(function(){
					i=(i+1)%2;
					if(i==1){ // open the div
						$(this).find("img").css("display", "block"); // Open the image
						$(this).css('height', 'auto'); // Set div to auto height
						var ch = $(this).height(); // save curr height
						$(this).find("img").css("display", "none"); // close the image
						$(this).animate({height:ch},200);
						$(this).find("img").css("display", "block"); // Open the image

					} else { // close the div
						$(this).find("img").css("display", "none"); // close the image
						$(this).css('height', 'auto'); // Set div to auto height
						var ah = $(this).height(); // save auto height
						$(this).find("img").css("display", "block"); // Open the image
						$(this).animate({height:ah},200);
						$(this).find("img").css("display", "none"); // close the image
					}
				});
			});


		</script>
	</body>
	{% else %}
	<p>You are not logged in.</p>
	<a href="{% url 'login' %}">Login</a>
	{% endif %}
</html>
